
@media screen and (max-width:1260px){

#navbar{
width:100%;
height: 80px;
margin: 0px auto;
}

#navbar>li{
flex-direction: row;
list-style: none;
width: 100%;
height: 80px;
border-right:1px solid #F50057;
border-left: 1px solid #F50057;
}

li>a{
text-decoration: none;
color: white;
font-family: cursive;
font-size: 20px;
line-height: 80px;
}

@media screen and (max-width:1060px){

#navbar{
width:100%;
height: 60px;
margin: 0px auto;
}
#navbar>li{
width: 18%;
}
li>a{
font-size: 16px;
}
 }

@media screen and (max-width:768px){
#header{
	height: 50px;
}
#navbar{
	width:100%;
	height: 50px;
	margin: 0px auto;
}
#navbar>li{
	width: 16%;
	height: 50px;
}
li>a{
	font-size: 15px;
	line-height: 50px;
 }
}

@media screen and (max-width: 480px){
#header{
height: 0;
}
#navbar{
	width:100%;
	height: 50px;
	margin: 0px auto;
	display: flex;


}
#navbar>li{

list-style: none;
width: 100%;
height: 50px;
background: #333;
border-bottom: 1px solid #616161;
}
li>a{
font-size: 16px;
line-height: 50px;
}
#res_btn{
	height: 40px;
	width: 40px;
display: flex;
justify-content: flex-start;
align-items: flex-start;
cursor: pointer;
}
 }